---
import TestForm from "@components/TestFom"
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Prueba Leaderboard</title>
  </head>
  <body class="min-h-screen bg-gray-50 flex flex-col items-center pt-10">
    <h1 class="text-3xl font-bold mb-6">Prueba de Leaderboard</h1>
    <TestForm client:load />
  </body>
</html>
