---
import biblesortLogoVertical from '@assets/biblesort-logo-vertical.svg';
---
<footer>
    <div class="container mt-16 sm:mt-24 md:mt-32 xl:mt-40">
        <div class="flex justify-center items-center flex-col gap-4 py-8 text-center">
            <a href="/"><img src={biblesortLogoVertical.src} alt="Bible Sort Logo" class="w-40 sm:w-48 md:56 lg:w-64 xl:w-72" /></a>
            <p class="text-xl md:text-2xl "><span class="font-semibold">Dizor Labs</span> © 2025 - Todos los derechos reservados</p>
        </div>
    </div>
</footer>