---
import biblesortLogoVertical from '@assets/biblesort-logo-vertical.svg';
---
<footer>
    <div class="container mt-32">
        <div class="flex justify-center items-center flex-col gap-4 py-8">
            <a href="/"><img src={biblesortLogoVertical.src} alt="Bible Sort Logo" class="w-72" /></a>
            <p class="text-2xl"><span class="text-gold">Dizor Labs</span> © 2025 - Todos los derechos reservados</p>
        </div>
    </div>
</footer>