---
import biblesortLogo from '@assets/biblesort-logo.svg';
---
<header class="flex justify-between items-center gap-2 pt-4 pb-4 md:pt-6 xl:pt-8">
    <a href="/"><img src={biblesortLogo.src} alt="Bible Sort Logo" class="w-40 sm:w-44 xl:w-48" /></a>

    <nav class="flex gap-4 md:gap-6 lg:gap-8 xl:gap-12">
        <a class="text-xl hidden sm:block lg:text-xl xl:text-2xl hover:text-gold duration-300" href="/bible">Libros<span class="hidden md:inline"> de la Biblia</span> </a>
        <a class="text-xl hidden sm:block lg:text-xl xl:text-2xl hover:text-gold duration-300" href="/scoreboard"><span class="hidden md:inline">Tabla de </span>Posiciones</a>
    </nav>
    
    <a class="text-xl md:text-2xl bg-black hover:opacity-80 duration-200 pt-1 md:py-3 pb-2 md:pb-4 px-10 md:px-20 text-white" href="/game-nt">Reiniciar Juego</a>
</header>

